@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    font-family: Lexend, serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #4FBBF4, #C9EAF0);
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.account .logo {
    width: 160px;
}

.account .title {
    color: #001E43;
    opacity: 0.68;
    font-size: 18px;
}

.account .login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.account .login #username, 
.account .login .pw #password {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    background-color: #fff;
}

.account .login .pw {
    position: relative;
    width: 100%;
}

.account .login .pw #password {
    width: 270px;
    z-index: 1;
}

.account .login .pw .eye {
    position: absolute;
    z-index: 10;
    right: 12px;
    top: 12px;
    border: none;
    background-color: transparent;
}

.account .login .pw .eye:hover {
    cursor: pointer;
}

.account .login #username:focus, 
.account .login .pw #password:focus {
    outline: none;
}

.account .login .warning {
    text-align: center;
    color: rgb(253, 73, 73);
}

.account .login .forgot-pw,
.account .login .signup{
    text-decoration: none;
    color: #001E43;
    opacity: 0.68;
    font-size: 14px;
}

.account .login .forgot-pw {
    text-align: right;
}

.account .login .signup {
    text-align: center;
}

.account .login .forgot-pw:hover,
.account .login .signup:hover {
    text-decoration: underline;
}

.account .login .login-change {
    width: 100%;
}

.account .login .btn-login {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
    background-color: #023E8A;
    color: #fff;
    font-weight: 500;
    transition: ease 0.4s all;
}
.account .login .btn-login:hover {
    cursor: pointer;
    background-color:#0256c4;
}

/* .account .login .login-change .option {
    display: none;
    width: 300px;
    top: 0;
}

.account .login .login-change:hover .btn-login {
    display: none;
}

.account .login .login-change:hover .option {
    display: flex;
}

.account .login .login-change .option .user,
.account .login .login-change .option .spso {
    flex: 1;
    text-decoration: none;
}

.account .login .login-change .option .user button,
.account .login .login-change .option .spso button {
    display: block;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: ease 0.4s all;
}

.account .login .login-change .option .user button {
    background-color: #023E8A;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.account .login .login-change .option .user button:hover {
    cursor: pointer;
    background-color: #0256c4;
}

.account .login .login-change .option .spso button {
    background-color: #7EB7FF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.account .login .login-change .option .spso button:hover {
    cursor: pointer;
    background-color: #62a7fa;
} */

.account .or {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.account .or hr {
    width: 60%;
    border: none;
    height: 1px;
    background-color: #001E43;
    opacity: 0.5;
}

.account .or .text {
    font-size: 12px;
    color: #001E43;
    opacity: 0.68;
    width: 70%;
    text-align: center;
}

.account .email {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    transition: ease 0.4s all;
}

.account .email:hover {
    cursor: pointer;
    background-color: #efeeee;
}

.account .email svg {
    position: absolute;
    left: 10px;
}

.account .email p {
    font-size: 16px;
}